body {margin: 0; background: #ffffff url('../images/body_bg.gif') repeat-x; color: #000000; cursor: default; padding-bottom: 10px;}
body a:link, body a:visited {color: #2a4275; text-decoration: none;}
body a:hover {color: #2a4275; text-decoration: underline}
img {border: 0;}
hr {background: #aeaeae; border: 0; color: #aeaeae; height: 1px; margin: 7px 0;}
p {margin: 10px 0 0 0; padding: 0;}
ul {margin: 5px 0; padding: 0; list-style-type: disc; list-style: none;}
li {margin: 0; padding-left: 15px; background-image: url('../images/bullet.gif'); background-repeat: no-repeat; background-position: 0 .5em;}
ul ul li {margin: 0; padding-left: 15px; background-image: url('../images/sub_bullet.gif'); background-repeat: no-repeat; background-position: 0 .5em;}
h1 {font: 16px Georgia,Serif; color: #000000; margin: 0; padding: 0;}
h1 a:link, h1 a:visited {color: #000000; text-decoration: none;}
h1 a:hover {color: #000000; text-decoration: none;}
input {margin: 2px 0 0 0; padding: 1px 0 0 3px; width: 125px; height: 16px; background: url('../images/input_bg.gif') no-repeat -4px -4px #f5f5eb; font: 12px Georgia,Serif; border: 1px solid #7b7968;}
textarea {margin: 2px 0 0 0; padding: 1px 0 0 3px; width: 200px; height: 50px; background: url('../images/input_bg.gif') no-repeat -4px -4px #f5f5eb; font: 12px Georgia,Serif; border: 1px solid #7b7968;}
.submit {margin: 0; padding: 0; width: 100px; height: 22px; background: url('../images/input_bg.gif') no-repeat -4px -4px #f5f5eb; font: 12px Georgia,Serif; border: 1px solid #7b7968;}
.bullet {vertical-align: -2px;}
.clear {clear: both;}
.frame {margin: 0 auto 0 auto; width: 778px;}
.header {height: 78px; background: #ffffff url('../images/header_bg.gif') repeat-x;}
.floatLeft {float: left;}
.floatRight {float: right;}
.logo {margin: 8px 0 0 8px;}
.headerAddress {float: right; margin: 8px 8px 0 0; color: #595959; font: 11px Arial,Sans-Serif; text-align: right;}
.nav {margin-top: 3px; height: 39px; background: #335b8a url('../images/nav_bg.gif') repeat-x;}
.navUnselected:link, .navUnselected:visited {float: left; height: 25px; border-bottom: 4px solid #d9caa7; padding: 10px 13px 0 13px; text-decoration: none; font: 11px Arial,Sans-Serif; color: #ffffff;}
.navUnselected:hover {border-bottom: 4px solid #8c7e5d; color: #ffffff; text-decoration: none;}
.navSelected:link, .navSelected:visited, .navSelected:hover {float: left; height: 25px; border-bottom: 4px solid #8c7e5d; padding: 10px 13px 0 13px; text-decoration: none; font: 11px Arial,Sans-Serif; color: #ffffff;}
.nav img {float: left;}
.mainContent {border: 1px solid #a9a9a9; border-top: 0; border-bottom: 0; background-color: #ffffff; padding-top: 1px;}
.footerNav {font: 10px Arial,Sans-Serif; color: #b0b0b0; padding: 10px; padding-top: 0; background-color: white;}
.footerEnd {height: 12px; background: #ffffff url('../images/footer_bg.gif') bottom repeat-x;}
.footerRight {float: right; text-align: right;}
.homeLeft, .homeRight, .homeBottomLeft, .homeBottomRight {float: left;}
.homeBtn1:link, .homeBtn2:link, .homeBtn3:link, .homeBtn1:visited, .homeBtn2:visited, .homeBtn3:visited, .homeBtn1:hover, .homeBtn2:hover, .homeBtn3:hover{font: 12px Georgia,Serif; color: #444444; text-decoration: none;}
.homeBtn1 {height: 61px; width: 316px; display: block; padding: 17px 15px 0 76px; background: #f1ece1 url('../images/home_btn_1.jpg') top left no-repeat;}
.homeBtn2 {height: 62px; width: 316px; display: block; padding: 10px 15px 0 76px; background: #f1ece1 url('../images/home_btn_2.jpg') top left no-repeat;}
.homeBtn3 {height: 69px; width: 316px; display: block; padding: 9px 15px 0 76px; background: #f1ece1 url('../images/home_btn_3.jpg') top left no-repeat;}
.homeBtn1:hover {background: #f1ece1 url('../images/home_btn_1_hover.jpg') top left no-repeat;}
.homeBtn2:hover {background: #f1ece1 url('../images/home_btn_2_hover.jpg') top left no-repeat;}
.homeBtn3:hover {background: #f1ece1 url('../images/home_btn_3_hover.jpg') top left no-repeat;}
.homeBtnTitle, .homeBtnTitle:link, .homeBtnTitle:visited, .homeBtnTitle:hover {font: 16px Georgia,Serif; color: #000000; text-decoration: none;}
.homeMiddleSep {height: 21px; margin: -4px 0 0 0; background: #335b8b url('../images/home_middle_sep_bg.gif') repeat-x;}
.homeBottomLeft {padding: 15px 0 7px 15px; width: 280px;}
.homeBottomRight {padding: 15px 15px 7px 15px; width: 451px;}
.sectionContainer {padding: 15px 15px 7px 15px;}
.sectionContent {font: 12px Georgia,Serif; color: #444444; line-height: 18px;}
.specialPercentage {font: 24px Georgia,Serif; color: #c33939;}
.spBullet {margin-left: 10px; vertical-align: -3px;}
.breadcrumbNav {margin: 15px 15px 0 15px; font: 12px Georgia,Serif;}
.breadcrumbNav li {display: inline; padding-left: 10px;}
.contactLeft {width: 373px; float: left;}
.contactRight {width: 357px; float: left; border-left: 1px solid #AEAEAE; padding-left: 15px;}
.contactLeftField {width: 70px; vertical-align: top;}
.errorMsg {color: red; font: 11px Georgia,Serif; border: 1px dashed red; padding: 10px; margin: 0 10px 10px 0;}
.successMsg {color: green; font: bold 11px Georgia,Serif; border: 1px dashed green; padding: 10px; margin: 0 10px 10px 0;}
.readyContact {background-color: #F8F6F4; border-top: 1px solid #AEAEAE; margin-top: 15px; color: #2a4275;}
.readyContactLeft {padding: 10px; height: 18px; margin: 0;}
.readyContactRight {float: right; padding: 9px 9px 10px 9px; display: block; font-weight: bold;}
.readyContactRight:link, .readyContactRight:visited {background-color: #EBF2F1; border: 1px solid #EBF2F1; border-top: 0; text-decoration: none;}
.readyContactRight:hover {background-color: #D6E4E3; border: 1px solid #AEAEAE; border-top: 0; text-decoration: none;}
.readyContactRight img {border: 0; margin-right: 5px; vertical-align: -2px; text-decoration: none;}
.tiledImage {margin: 10px; padding: 2px; border: 1px solid #CCCCCC; vertical-align: middle;}
.photoGalleryLink {display: block; padding: 5px; border: 1px solid #cccccc; background-color: #D6E4E3}
.photoGalleryLink:visited {}
.photoGalleryLink:link {}
.photoGalleryLink:hover {}
.table-wrapper {margin: 0 auto 0 auto;}
.div-galheader * {vertical-align: middle;}
.td-thumbnails-navi img {vertical-align: middle;}
.td-picture-navi img {vertical-align: middle;}
.img-new {vertical-align: middle;}
.img-thumbnail {vertical-align: middle !important;}
.td-thumbnails-thumb {vertical-align: middle;}
h3 {font-size: 14px;}
ol li {background-image: none;}
.elite {color: #2B7BB2; font-weight: bold;}

iframe .footer {display: none;}
iframe .info .h2 {display: none;}